<div class="container">
  <div class="innerContainer">
    <h2>Plan your mission</h2>
    <div class="menu">
      <div>
        <span>Departure from:</span>
        <select>
          <option>Earth</option>
        </select>
      </div>
      <div>
        <span>Destination:</span>
        <select>
          <option>Europa</option>
        </select>
      </div>
      <button (click)="moveCamera()">Plot my journey!</button>
    </div>
  </div>
  <canvas id="canvas-box" class="canvas">
  </canvas>
  <div id="bottom_left_canvas_div">
    <h1>Earth</h1>
    <h4>Diamter: 12.742 km</h4>
    <h4>Mass: ~5.9722×10<sup>24</sup> kg</h4>
    <h4>Volume: 108.321×10<sup>10</sup> km<sup>3</sup></h4>
    <h4>Escape velocity: 11.186 km/s</h4>
    <h4>Satellites:</h4>
    <ul style="margin-top: 0;">
      <li>Moon</li>
    </ul>
  </div>
  <canvas id="bottom_left_canvas" class="bottom_left_canvas">
  </canvas>
  <div id="bottom_right_canvas_div">
    <h1>Europa</h1>
    <h4>Diamter: 3.138 km</h4>
    <h4>Mass: ~4.8×10<sup>22</sup> kg</h4>
    <h4>Volume: 1.593×10<sup>10</sup> km<sup>3</sup></h4>
    <h4>Escape velocity: 2.02 km/s</h4>
    <h4>Surface gravity: 1.35 m/s<sup>2</sup></h4>
    <h4>Satellite of Jupiter</h4>
  </div>
  <canvas id="bottom_right_canvas" class="bottom_right_canvas">
  </canvas>
  <div id="div-footer">
    <footer id="footer">Earth factsheet: <a href="https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html"
        style="color:white">nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html</a>
      Europa factsheet: <a href="https://www2.jpl.nasa.gov/galileo/europa/fact.html"
        style="color:white">www2.jpl.nasa.gov/galileo/europa/fact.html</a>
      All celestial body textures downloaded from <a href="https://www.solarsystemscope.com/"
        style="color:white">www.solarsystemscope.com</a>
    </footer>
  </div>
</div>