<div class="container">
  <div class="innerContainer">
    <h2>Plan your mission</h2>
    <div class="menu">
      <div>
        <span>Departure from:</span>
        <select>
          <option>Earth</option>
        </select>
      </div>
      <div>
        <span>Destination:</span>
        <select>
          <option>Europa</option>
        </select>
      </div>
      <button (click)="moveCamera()">Plot my journey!</button>
    </div>
  </div>
  <canvas id="canvas-box" class="canvas">
  </canvas>
  <div id="bottom_left_canvas_div">
    <h1>Earth</h1>
    <h4>Diamter: 12.742 km</h4>
    <h4>Mass: 5.972168×10<sup>24</sup> kg</h4>
    <h4>Volume: 1.08321×10<sup>12</sup> km<sup>3</sup></h4>
    <h4>Escape velocity: 11.186 km/s</h4>
    <h4>Satellites:</h4>
    <ul style="margin-top: 0;">
      <li>Moon</li>
    </ul>
  </div>
  <canvas id="bottom_left_canvas" class="bottom_left_canvas">
  </canvas>
  <div id="bottom_right_canvas_div">
    <h1>Europa</h1>
    <h4>Diamter: 3.100 km</h4>
    <h4>Mass: ~4.799844×10<sup>22</sup> kg</h4>
    <h4>Volume: 1.593×10<sup>10</sup> km<sup>3</sup></h4>
    <h4>Escape velocity: 2.025 km/s</h4>
    <h4>Surface gravity: 1.314 m/s<sup>2</sup></h4>
    <h4>Satellite of Jupiter</h4>
  </div>
  <canvas id="bottom_right_canvas" class="bottom_right_canvas">
  </canvas>
</div>